/* Google fonts : poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transform: ease 0.3s;
}

.App {
  background-color: #121212;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
